
Data/Saved.dat
Lib/__pycache__/Saphire.cpython-36.pyc
*.xml
*.xml
*.py_hidden_src
*.pyw
.idea/*
.idea/workspace.xml
.idea/workspace.xml
run.bat
*.db
Lib/__pycache__/Sapphire.cpython-37.pyc
Lib/__pycache__/Sapphire.cpython-36.pyc
*.pyc
*.pyc
Lib/__pycache__/Sapphire.cpython-36.pyc
Data/saved.db
